{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Shikshya</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
    <link href="{%static 'vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'style.css' %}" rel="stylesheet">

    <!-- =======================================================
  * Template Name:SHIKSHYA
  * Updated: Sep 25 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top  header-transparent ">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1><a href=""><img src="{%static 'assets/img/logo.png'%}" class="img-fluid" alt=""></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="{% static 'assets/img/logo.png" alt="" clas' %}s="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#features">App Features</a></li>
                    <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="getstarted scrollto" href="/admin">Admin</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                    <div>
                        <h1>WELCOME TO SHIKSHYA</h1>

                        <a href="#" class="download-btn"><i class="bx bxl-play-store"></i> Google Play</a>
                        <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a>
                    </div>
                </div>
                <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
                    <img src="{%static 'assets/img/hero-img.png'%}" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= App Features Section ======= -->
        <section id="features" class="features">
            <div class="container">

                <div class="section-title">
                    <h2>App Features</h2>

                </div>

                <div class="row no-gutters">
                    <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
                        <div class="content d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-md-6 icon-box" data-aos="fade-up">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Speech Recognition:</h4>
                                    <p>Accurate conversion of spoken audio content into text using advanced speech recognition algorithms.

                                    </p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>Audio Input Options: </h4>
                                    <p>Support for importing audio files from various sources or direct recording within the app.

                                    </p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                    <i class="bx bx-images"></i>
                                    <h4>Exporting and Sharing: </h4>
                                    <p>Options to save transcriptions in various formats (text, PDF, etc.) and share them via email, messaging apps</p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                    <i class="bx bx-shield"></i>
                                    <h4>Multi-Language Support: </h4>
                                    <p>Capability to transcribe speech in different languages and accents, with seamless switching between languages.</p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                                    <i class="bx bx-atom"></i>
                                    <h4>Voice Command Functionality</h4>
                                    <P>Hands-free operation with voice commands for starting/stopping recordings, editing, and navigating within the app.


                                    </p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                                    <i class="bx bx-id-card"></i>
                                    <h4>Accessibility Features:</h4>
                                    <p>Integration with accessibility tools like screen readers and compatibility with accessibility standards for users with disabilities</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="{% static 'assets/img/features.svg' %}" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
        </section>
        <!-- End App Features Section -->

        <!-- ======= Details Section ======= -->
        <section id="details" class="details">
            <div class="container">

                <div class="row content">
                    <div class="col-md-4" data-aos="fade-right">
                        <img src="{%static 'assets/img/details-1.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8 pt-4" data-aos="fade-up">
                        <h3>OUR OBJECTIVE</h3>

                        <ul>
                            <li><i class="bi bi-check"></i>Accurate Transcription: The main goal is to accurately convert spoken words and phrases from audio recordings into written text.</li>
                            <li><i class="bi bi-check"></i>Time Efficiency: Provide a time-saving solution by automating the transcription process </li>
                            <li><i class="bi bi-check"></i>Accessibility: Enhance accessibility by converting spoken content into text, enabling individuals with hearing impairments or language barriers to access and comprehend the information.</li>
                            <li><i class="bi bi-check"></i>Ease of Use: Offer a user-friendly interface that makes the transcription process simple and intuitive for users of different technical abilities.</li>
                        </ul>

                    </div>

                    <div class="row content">
                        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                            <img src="{% static 'assets/img/details-2.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                            <h3>OUR GOAL</h3>
                            <p>
                                The primary goal of an audio-to-text transfer app is to streamline and simplify the process of converting spoken audio content into written text efficiently and accurately. By utilizing advanced speech recognition technology, the app aims to provide users
                                with a convenient tool for transcribing various forms of audio, such as lectures, interviews, meetings, or personal recordings, into readable and editable text. This technology serves to save time and effort by automating
                                the transcription process, enabling users to create written transcripts swiftly without the need for manual transcribing. Additionally, the app endeavors to enhance accessibility by catering to individuals with hearing
                                impairments or language barriers, ensuring that spoken content is converted into text for wider comprehension and utilization. Through a user-friendly interface, multi-language support, and customization options, the app
                                strives to offer a versatile solution that meets the diverse transcription needs of users across different professions and domains, ultimately improving productivity and facilitating effective communication and information
                                management.
                            </p>

                        </div>
                    </div>


                </div>

                <div class="row content">
                    <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                        <img src="{% static 'assets/img/details-4.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                        <h3>OUR VISION</h3>

                        <p>
                            The vision for an audio-to-text transfer app tailored for educators aims to revolutionize the way teachers create, manage, and disseminate educational content. It envisions providing a user-friendly and efficient tool that empowers teachers to effortlessly
                            transcribe their spoken lectures, discussions, and instructional content into written text. By harnessing cutting-edge speech recognition technology, the app seeks to offer educators a seamless method to convert audio recordings
                            into readable and editable text formats. This transformative tool not only simplifies the transcription process but also fosters inclusivity by making educational content more accessible to students with diverse learning needs,
                            including those with hearing impairments or language barriers. The app's vision extends to enhancing classroom management and lesson planning by enabling teachers to efficiently organize and repurpose transcribed content for
                            creating study materials, lesson plans, and assessments. Furthermore, the app aspires to support personalized learning experiences by providing students with easily accessible text-based resources that reinforce classroom teachings.
                            Ultimately, the vision of this app for teachers is to amplify their teaching capabilities, promote accessibility, and enrich the educational journey for all students, fostering an environment conducive to enhanced learning
                            and engagement.
                        </p>
                        <ul>
                            <li><i class="bi bi-check"></i>Time-Saving and Streamlined Workflows: Streamline classroom management and lesson planning by automating the transcription process.</li>
                            <li><i class="bi bi-check"></i>Efficiency in Content Transformation: Simplify the process of converting spoken lectures, discussions, and instructional content into accurate</li>
                            <li><i class="bi bi-check"></i>Personalized Learning Support: Support individualized learning experiences by allowing students to access transcribed content at their own pace</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Details Section -->

        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Gallery</h2>
                </div>

                <div class="container-fluid" data-aos="fade-up">
                    <div class="gallery-slider swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="{% static 'assets/img/gallery/gallery-1.png' %} " class="gallery-lightbox " data-gall="gallery-carousel "><img src="{% static 'assets/img/gallery/gallery-1.png' %} " class="img-fluid " alt=" "></a>
                            </div>
                            <div class="swiper-slide ">
                                <a href="{% static 'assets/img/gallery/gallery-2.png' %} " class="gallery-lightbox " data-gall="gallery-carousel "><img src="{% static 'assets/img/gallery/gallery-2.png' %} " class="img-fluid " alt=" "></a>
                            </div>
                            <div class="swiper-slide ">
                                <a href="{% static 'assets/img/gallery/gallery-3.png' %} " class="gallery-lightbox " data-gall="gallery-carousel "><img src="{% static 'assets/img/gallery/gallery-3.png' %} " class="img-fluid " alt=" "></a>
                            </div>
                            <div class="swiper-slide ">
                                <a href="{% static 'assets/img/gallery/gallery-4.png' %} " class="gallery-lightbox " data-gall="gallery-carousel "><img src="{% static 'assets/img/gallery/gallery-4.png' %} " class="img-fluid " alt=" "></a>
                            </div>
                            <div class="swiper-slide ">
                                <a href="{% static 'assets/img/gallery/gallery-5.png' %} " class="gallery-lightbox " data-gall="gallery-carousel "><img src="{% static 'assets/img/gallery/gallery-5.png' %} " class="img-fluid " alt=" "></a>
                            </div>
                            <div class="swiper-slide ">
                                <a href="{% static 'assets/img/gallery/gallery-6.png' %} " class="gallery-lightbox " data-gall="gallery-carousel "><img src="{% static 'assets/img/gallery/gallery-6.png' %} " class="img-fluid " alt=" "></a>
                            </div>
                            <div class="swiper-slide ">
                                <a href="{% static 'assets/img/gallery/gallery-7.png' %} " class="gallery-lightbox " data-gall="gallery-carousel "><img src="{% static 'assets/img/gallery/gallery-7.png' %} " class="img-fluid " alt=" "></a>
                            </div>
                            <div class="swiper-slide ">
                                <a href="{% static 'assets/img/gallery/gallery-8.png' %} " class="gallery-lightbox " data-gall="gallery-carousel "><img src="{% static 'assets/img/gallery/gallery-8.png' %} " class="img-fluid " alt=" "></a>
                            </div>
                            <div class="swiper-slide ">
                                <a href="{% static 'assets/img/gallery/gallery-9.png' %} " class="gallery-lightbox " data-gall="gallery-carousel "><img src="{% static 'assets/img/gallery/gallery-9.png' %} " class="img-fluid " alt=" "></a>
                            </div>
                            <div class="swiper-slide ">
                                <a href="{% static 'assets/img/gallery/gallery-10.pn' %}g " class="gallery-lightbox " data-gall="gallery-carousel "><img src="{% static 'assets/img/gallery/gallery-10.pn' %}g " class="img-fluid " alt=" "></a>
                            </div>
                        </div>
                        <div class="swiper-pagination "></div>
                    </div>

                </div>
        </section>
        <!-- End Gallery Section -->






        <!-- ======= Contact Section ======= -->
        <section id="contact " class="contact ">
            <div class="container " data-aos="fade-up ">

                <div class="section-title ">
                    <h2>Contact</h2>     
                </div>
                <div class="row ">

                    <div class="col-lg-6 ">
                        <div class="row ">
                            <div class="col-lg-6 info ">
                                <i class="bx bx-map "></i>
                                <h4>Address</h4>
                                <p>Anamnagar<br>Baneshwor,ktm</p>
                            </div>
                            <div class="col-lg-6 info ">
                                <i class="bx bx-phone "></i>
                                <h4>Call Us</h4>
                                <p>986525632<br>9876543321</p>
                            </div>
                            <div class="col-lg-6 info ">
                                <i class="bx bx-envelope "></i>
                                <h4>Email Us</h4>
                                <p>Sikshya@example.com<br>Sikshya@example.com</p>
                            </div>
                            <div class="col-lg-6 info ">
                                <i class="bx bx-time-five "></i>
                                <h4>Working Hours</h4>
                                <p>Mon - Fri: 9AM to 5PM<br>Sunday: 9AM to 1PM</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 ">
                        <form action="forms/contact.php " method="post " role="form " class="php-email-form " data-aos="fade-up ">
                            <div class="form-group ">
                                <input placeholder="Your Name " type="text " name="name " class="form-control " id="name " required>
                            </div>
                            <div class="form-group mt-3 ">
                                <input placeholder="Your Email " type="email " class="form-control " name="email " id="email " required>
                            </div>
                            <div class="form-group mt-3 ">
                                <input placeholder="Subject " type="text " class="form-control " name="subject " id="subject " required>
                            </div>
                            <div class="form-group mt-3 ">
                                <textarea placeholder="Message " class="form-control " name="message " rows="5 " required></textarea>
                            </div>
                            <div class="my-3 ">
                                <div class="loading ">Loading</div>
                                <div class="error-message "></div>
                                <div class="sent-message ">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center "><button type="submit ">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Contact Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer ">
        <div class="footer-top ">
            <div class="container ">
                <div class="row ">
                </div>
            </div>
        </div>


    </footer>
    <!-- End Footer -->

    <a href="# " class="back-to-top d-flex align-items-center justify-content-center "><i class="bi bi-arrow-up-short "></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/aos/aos.js' %} "></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %} "></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>